/* 
Style Colors

Black
White
Yellow #cb9404
*/

@font-face {
    font-family: Eccentric;
    src: url(fonts/eccentric.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-family: Eccentric, 'Times New Roman', Times, serif;
}

body {
    background-color: black;
}

h1 {
    width: fit-content;
    margin: 0 auto;
}

header {
    margin-top: 5%;
    height: fit-content;
    position: relative;
}

nav ul li, #social-media ul li {
    display: inline-block;
}

nav, #social-media {
    text-align: center;
}

nav li, #social-media li {
    font-size: 7vw;
    display: block;
    width: 30%;
}

#social-media img {
    max-height: 3em;
    border-radius: 50%;
    background-color: black;
}

nav a, #social-media a {
    text-decoration: none;
}

nav a {
    transition: border-bottom .3s;
}

nav a:hover {
    border-bottom: 3px solid white;
}

#social-media img:hover {
    filter: invert(1);
    transition: filter, .3s;
}

#logo {
    margin: 1% 0;
}

main {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 1em;
}

.content-box {
    flex-grow: 1;
    flex-direction: column;
    width: 96%;
    margin: 5px 5px;
    flex-basis: 320px;
    text-align: center;
    border: 3px solid #cb9404;
    border-radius: 20px;
    padding: 7px;
    font-size: 1.2em;
    align-self: center;
}

.content-box h1 {
    margin-bottom: 1em;
}

.content-box p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 96%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio img {
    max-width: 300px;
    margin-bottom: 1.5em;
}

#lauren {
    margin-top: 3em;
}

footer {
    text-align: center;
    padding: 20px;
}

iframe {
    margin: -1px -2px 0 -10px;
}

#iframe-wrap {
    margin: 2em auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 4%;    
}

#news img {
    margin-bottom: 2em;
}

.card-front {
    height: 100%;
    padding: 20px 10px;
    /* background-image: url("images/tarot-back.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}


/* Media Queries */

@media screen and (min-width: 680px) {
    #logo {
        display: block;
        max-width: 50%;
        margin: 1% auto;
    } 

    nav li, #social-media li {
        font-size: 5vw;    
    }

    .content-box {
        font-size: 1.4em;
    }

    .bio {
        display: block;
        min-height: 350px;
        text-align: left;
    }

    .bio:first-of-type {
        margin-bottom: 40px;
    }

    .bio img {
        max-width: 200px;
        margin: 0 10px 5px; 
    }
    
    #emily {
        float: left;
    }

    #lauren {
        float: right;
        margin-top: 0;
    }    
    
}

@media screen and (min-width: 900px) {

    .bio p {
        padding-top: 30px;
    }

}

@media screen and (min-width: 1200px) {
    #logo {
        max-width: 20%;
    } 

    header {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
    
    nav, #social-media {
        flex: 1;
    }

    nav {
        left: 0;
    }

    #social-media {
        right: 0;
    }

    nav li, #social-media li {
        font-size: 3vw;
        display: block;
        width: fit-content;
        margin: 10px 28px;
    }
    main {
        min-height: calc(130vh - 59.4px);
        flex-direction: row;
    }

    .content-box {
        font-size: 1.1em;
        flex-direction: row;
        width: 30%;
        flex-basis: 30%;
        align-self: unset;
        margin: 5px 8px;
    }

    .card-front {
        padding: 20px 10px 100px;
        background-image: url("images/tarot-back.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .bio p {
        padding-top: 0;
    }

    .bio p:last-child, .bio img:last-child {
        margin-top: 40px;
    }

    .bio img {
        max-width: 160px;
    }
}